<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app.css" />
    <script src="/app.js"></script>
    <script src="/handlers.js"></script>
    <title>Table</title>
  </head>
  <body>
    <div class="container">
      <h4>Last selected value : <span id="selection"></span></h4>
      <table id="table" style="width: 100%"></table>
      <div class="pagnation-wrapper">
        <button id="backwards"><<</button>
        <button id="prev">prev</button>
        <div class="pagenumbers" id="pagination"></div>
        <button id="next">next</button>
        <button id="forwards">>></button>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    const data = <%-JSON.stringify(json)%>;
    const tableElement = document.getElementById("table");
    const pagnationElement = document.getElementById("pagination");
    const selection = document.getElementById("selection");
    let current_page = 1;
    let rows = 20;

    DisplayList(tableElement, rows, current_page);
    SetupPagination(pagnationElement, rows);
  </script>
</html>
